{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

{% include 'header.html' %}

<body>
    <section id="about" class="page-main">
        <div class="container">
            <div class="about-content">
                <h1 class="about-header">Обо мне</h1>
                <p class="about-text">
                    Я — специалист по digital решениям, посвятивший свою карьеру тому, чтобы помогать клиентам достигать их целей с помощью современных технологий. 
                    Моя задача — предлагать качественные и инновационные решения, которые принесут реальную пользу вашему проекту.
                </p>
                <p class="about-text">
                    С многолетним опытом работы в индустрии, я всегда стремлюсь к совершенствованию и нахожу новые способы для успешной реализации ваших задач. 
                    Мои услуги охватывают широкий спектр — от веб-разработки до маркетинга, и все они направлены на ваш успех.
                </p>
                <p class="about-text">
                    Я убежден, что доверие и качество — основа успешного сотрудничества. Моя цель — построить долгосрочные отношения с клиентами, 
                    предлагая только те решения, которые действительно работают.
                </p>
            </div>
            <div class="about-image">
                <img src="{% static 'img/about.jpg' %}" alt="About Me">
            </div>
        </div>
    </section>
</body>

{% include 'footer.html' %}
