{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
</head>

{% include 'header.html' %}

<body>
    <section id="feedback" class="page-main">
        <div class="container">
            <div class="feedback-content">
                <h1 class="feedback-header">Спасибо вам, {{ name }}!</h1>
                <p class="feedback-text">
                    Я получил ваше сообщение и свяжусь с вами в ближайшее время.
                    Если у вас есть срочные вопросы, пожалуйста, свяжитесь со мной по адресу <a href="mailto:support@example.com">support@example.com</a>.
                </p>
            </div>
        </div>
    </section>
</body>

{% include 'footer.html' %}